.Person {
	width: 60%;
	margin: 16px auto;
	border: 3px solid black;
	box-shadow: 0 2px 3px #ccc;
	padding: 16px;
	text-align: center;
}

.Person .deleteClass {
	background-color: Red;
	padding: 4px;
	color: white;
}

@media (min-width: 500px) {
	.Person{
		width: 450px;
	}
}