.Cockpit button {
  border: none;
  padding: 16px;
  background-color: green;
  font: inherit;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

.Cockpit button:hover{
  outline: none;
  border: none;
  padding: 16px;
  background-color: lightgreen;
  font: inherit;
  color: black;
}

.Cockpit button.Red {
  outline: none;
  background-color: red;
}

.Cockpit button.Red:hover{
  outline: none;
  background-color: pink;
  color: black;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}